.listingTable th,
.listingTable td {
    text-align: center;
}

.attributeListing {
    margin-top: 1.5em;
    margin-bottom: 1.0em;

    div span {
        font-size: xx-large;
    }
}

.attributeType {
    text-decoration: underline;
}